<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医院床位分析</title>
</head>
<style>
    #web_bg{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
</style>
<body>
    <div id="web_bg" style="background-image: url(../static/front.jpg);"></div>
<h2>
<h1 align="center">欢迎查看医院床位分析系统</h1>
<h2><a align="left" href="/front">项目前言</a></h2>
<h2><a align="left" href="/analysis_one">病床使用情况</a></h2>
<h2><a align="left" href="/analysis_two">各卫生机构床位数</a></h2>
<h2><a align="left" href="/analysis_three">每年病床工作日</a></h2>
<h2><a align="left" href="/analysis_four">每年各机构床位数对比</a></h2>
<h2><a align="left" href="/analysis_five">使用率与平均住日</a></h2>
<h2><a align="left" href="/speech">项目总结</a> </h2>
    </h2>
    </div>
</body>
</html>